- if authorized?
  .page-header
    %h1
      Organizations
      %small &dash; Choose a team
  %section.well
    %ul.nav.nav-list
      - organizations.each do |organization|
        %li.nav-header= organization.login
        - teams(organization).each do |team|
          %li
            %a{href: url("/organizations/#{organization.login}/teams/#{team.id}")}= team.name
- else
  .hero-unit
    .page-header
      %h1
        Login
        %small - Inloggos via Github los ganos
    .row
      .span3
        %a{href: url('/login'), class: 'btn btn-block btn-large'} Inloggos
