!!!
%html
  %head
    %title Pull requests
    %link{rel: :stylesheet, type: 'text/css', href: url('/bootstrap/css/bootstrap.min.css')}
    %link{rel: :stylesheet, type: 'text/css', href: url('/bootstrap/css/bootstrap-responsive.min.css')}
    %script{:src => "/javascripts/lib/jquery-1.7.2.min.js"}
    %script{:src => "/javascripts/lib/handlebars-1.0.0.beta.6.js"}
    %script{:src => "/javascripts/lib/ember-1.0.0-pre.2.min.js"}
    %script{:src => "/javascripts/templates.js"}
    %script{:src => "/application.js"}

    %script{:type => 'text/x-handlebars', 'data-template-name' => 'hello-world'}
      :plain
        <p {{bindAttr class="special"}} {{action "edit"}}>
          Hello {{name}}
        </p>

    %script{:type => 'text/x-handlebars', 'data-template-name' => 'user'}
      :plain
        User: {{firstName}} {{lastName}}
        {{#view App.InfoView postsBinding="App.userController.content.posts"
          hobbiesBinding="App.userController.content.hobbies" awesomeBinding="App.userController.content.awesome"}}
          <b>Posts:</b> {{view.posts}}
          <br>
          <b>Hobbies:</b> {{view.hobbies}}
          {{view Ember.Checkbox checkedBinding="view.awesome"}}
          {{#if view.awesome}}
            <span class="label">Awesome!</span>
          {{else}}
            <span class="label btn-important">Not awesome at all</span>
          {{/if}}
        {{/view}}
  %body


