!!!
%html
  %head
    %title Pull requests
    %link{rel: :stylesheet, type: 'text/css', href: url('/bootstrap/css/bootstrap.min.css')}
    %link{rel: :stylesheet, type: 'text/css', href: url('/bootstrap/css/bootstrap-responsive.min.css')}
    %script{:src => "/javascripts/jquery.js"}
    %script{:src => "/javascripts/jquery.pjax.js"}
    :javascript
      $(function(){
        $('a:not([data-remote]):not([data-behavior]):not([data-skip-pjax])').pjax('[data-pjax-container]')
      })

  %body
    .navbar
      .navbar-inner
        %a.brand{href: '/'}
          Pull Request Monitor
          %small &dash; Pull requestos dos genitos muchos
        - if authenticated?
          .pull-right
            %a{href:'/logout', class: :btn}
              Logout
              %i.icon-remove-circle

    .container{"data-pjax-container" => ""}
      = yield
