!!!
%html
  %head
    %title Pull requests
    %link{rel: :stylesheet, type: 'text/css', href: url('/bootstrap/css/bootstrap.min.css')}
    %link{rel: :stylesheet, type: 'text/css', href: url('/bootstrap/css/bootstrap-responsive.min.css')}
    %script{:src => "/javascripts/lib/jquery-1.7.2.min.js"}
    %script{:src => "/javascripts/lib/handlebars-1.0.0.beta.6.js"}
    %script{:src => "/javascripts/lib/ember-1.0.0-pre.2.min.js"}
    %script{:src => "/javascripts/templates.js"}
    %script{:src => "/application.js"}

    %script{:type => 'text/x-handlebars', 'data-template-name' => 'hello-world'}
      :plain
        <p {{bindAttr class="special"}} {{action "edit"}}>
          Hello {{name}}
        </p>
  %body
    .navbar
      .navbar-inner
        %a.brand
          Pull Request Monitor
          &dash;
          %small Dos genitos des pullos muchios
    .row

    .container
      .row
        .span4
          %aside.well

        .span8
          %h1 Met je moeder

