%hgroup
  %h1== Trekverzoeken van #{@repo.name}

.row
  .span4
    = partial :'repos/sidebar', locals: { repos: organization_repos(@organization) }
  .span8
    - pull_requests(@repo).each do |pull_request|
      %hgroup
        %h5
          %a{href: url(pull_request.html_url)}== ##{pull_request.number}
          = pull_request.title
